*
!.gitignore

!.bash_profile
!.bashrc

!.tmux.conf

!.config/
!.config/hypr/
!.config/hypr/*
!.config/nvim/
!.config/nvim/*
!.config/waybar/
!.config/waybar/*

!scripts/
!scripts/*.sh

!nixos-config/
!nixos-config/*
