[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/danielkennedy1/nvim-conf
[submodule "nixos-config"]
	path = nixos-config
	url = https://github.com/danielkennedy1/nixos-config
