*
!.gitignore

!.bashrc
!.bash_profile
!.bash_aliases

!.tmux.conf


!.config/

!.config/hypr/
!.config/hypr/**

!.config/nvim/
!.config/nvim/**

!.config/waybar/
!.config/waybar/**

!.config/wofi/
!.config/wofi/**


!.config/kitty/
!.config/kitty/**

!scripts/

!scripts/*.sh


!nixos-config/
!nixos-config/*
